@{
    Layout = null;
}
@model Wolf.Vecc.Model.ViewModel.RegisterViewModel
@*<link href="~/AdminLTE/dist/css/form-elements.css" rel="stylesheet" />*@
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap-switch.css">
<link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

<!-- global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="~/AdminLTE/dist/css//bootstrap.min.css">
<link rel="stylesheet" href="~/AdminLTE/dist/font-awesome-4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="~/AdminLTE/dist/css/font-icon-style.css">*@
<link rel="stylesheet" href="~/AdminLTE/dist/css/style.default.css" id="theme-stylesheet">


<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<!--  <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">-->
<!-- iCheck -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/flat/blue.css">*@
<!-- bootstrap wysihtml5 - text editor -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/summernote-master/dist/summernote.css">*@
<!-- Morris chart -->
<link rel="stylesheet" href="~/AdminLTE/plugins/morris/morris.css">
<!-- jvectormap -->
<link href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<!-- Date Picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<!-- iCheck for checkboxes and radio inputs -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/all.css">*@
<!-- Daterange picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
@*<link rel="stylesheet" href="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.css">*@
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
@*<link rel="stylesheet" href="~/AdminLTE/plugins/datatables/dataTables.bootstrap.css">*@

<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.css">
<!-- ion slider Nice -->
<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.skinNice.css">
<link rel="stylesheet" href="~/AdminLTE/dist/css/index.css">

<link href="~/AdminLTE/SweetAlert/dist/sweetalert2.css" rel="stylesheet" />
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<div class="container text-left" id="pageSection" style="background: white; min-height: 10px;margin-top: 15px;">
    <form id="defaultForm " role="form" action="/Account/VeccAddUser" method="post" class="col-md-6">
        <div class="form-group">
            <label for="username">用户名：</label>
            @*<input name="username" class="form-control " type="text" >*@
            @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="country">国家：</label>
            @{
                List<SelectListItem> list = new List<SelectListItem>
                                                {
                                                    new SelectListItem { Text = "阿尔巴尼亚", Value = "阿尔巴尼亚" },
                                                    new SelectListItem { Text = "阿尔及利亚", Value = "阿尔及利亚" },
                                                    new SelectListItem { Text = "阿富汗", Value = "阿富汗" },
                                                     new SelectListItem { Text = "阿根廷", Value = "阿根廷" },
                                                     new SelectListItem { Text = "阿拉伯联合酋长国", Value = "阿拉伯联合酋长国" },
                                                     new SelectListItem { Text = "阿鲁巴", Value = "阿鲁巴" },
                                                     new SelectListItem { Text = "阿曼", Value = "阿曼" },
                                                     new SelectListItem { Text = "阿塞拜疆", Value = "阿塞拜疆" },
                                                     new SelectListItem { Text = "埃及", Value = "埃及" },
                                                     new SelectListItem { Text = "埃塞俄比亚", Value = "埃塞俄比亚" },
                                                     new SelectListItem { Text = "爱尔兰", Value = "爱尔兰" },
                                                     new SelectListItem { Text = "爱沙尼亚", Value = "爱沙尼亚" },
                                                  new SelectListItem { Text = "安道尔", Value = "安道尔" },
                                                  new SelectListItem { Text = "安哥拉", Value = "安哥拉" },
                                                  new SelectListItem { Text = "安圭拉岛", Value = "安圭拉岛" },
                                                  new SelectListItem { Text = "安提瓜和巴布达", Value = "安提瓜和巴布达" },
                                                  new SelectListItem { Text = "奥地利", Value = "奥地利" },
                                                   new SelectListItem { Text = "奥兰岛", Value = "奥兰岛" },
                                                    new SelectListItem { Text = "澳大利亚", Value = "澳大利亚" },
                                                    new SelectListItem { Text = "澳门特别行政区", Value = "澳门特别行政区" },
                                                    new SelectListItem { Text = "巴巴多斯", Value = "巴巴多斯" },
                                                     new SelectListItem { Text = "巴布亚新几内亚", Value = "巴布亚新几内亚" },
                new SelectListItem { Text = "巴哈马", Value = "巴哈马" },
                    new SelectListItem { Text = "巴基斯坦", Value = "巴基斯坦" },
                    new SelectListItem { Text = "巴拉圭", Value = "巴拉圭" },
                    new SelectListItem { Text = "巴勒斯坦民族权力机构", Value = "巴勒斯坦民族权力机构" },
                    new SelectListItem { Text = "巴林", Value = "巴林" },
                    new SelectListItem { Text = "巴拿马", Value = "巴拿马" },
                     new SelectListItem { Text = "巴西", Value = "巴西" },
                    new SelectListItem { Text = "白俄罗斯", Value = "白俄罗斯" },
                    new SelectListItem { Text = "百慕大群岛", Value = "百慕大群岛" },
                   new SelectListItem { Text = "保加利亚", Value = "保加利亚" },
                   new SelectListItem { Text = "北马里亚纳群岛", Value = "北马里亚纳群岛" },
                   new SelectListItem { Text = "贝宁", Value = "贝宁" },
                   new SelectListItem { Text = "比利时", Value = "比利时" },
                    new SelectListItem { Text = "冰岛", Value = "冰岛" },
                    new SelectListItem { Text = "波多黎各", Value = "波多黎各" },
                   new SelectListItem { Text = "波兰", Value = "波兰" },
                   new SelectListItem { Text = "波斯尼亚和黑塞哥维那", Value = "波斯尼亚和黑塞哥维那" },
                    new SelectListItem { Text = "玻利维亚", Value = "玻利维亚" },
                     new SelectListItem { Text = "伯利兹", Value = "伯利兹" },
                     new SelectListItem { Text = "博茨瓦纳", Value = "博茨瓦纳" },
                    new SelectListItem { Text = "博内尔", Value = "博内尔" },
                    new SelectListItem { Text = "不丹", Value = "不丹" },
                   new SelectListItem { Text = "布基纳法索", Value = "布基纳法索" },
                    new SelectListItem { Text = "布隆迪", Value = "布隆迪" },

                     new SelectListItem { Text = "布韦岛", Value = "布韦岛" },

                     new SelectListItem { Text = "朝鲜", Value = "朝鲜" },

                   new SelectListItem { Text = "赤道几内亚", Value = "赤道几内亚" },

                   new SelectListItem { Text = "丹麦", Value = "丹麦" },

                   new SelectListItem { Text = "德国", Value = "德国" },

                    new SelectListItem { Text = "东帝汶", Value = "东帝汶" },

                     new SelectListItem { Text = "多哥", Value = "多哥" },

                    new SelectListItem { Text = "多米尼加共和国", Value = "多米尼加共和国" },

                     new SelectListItem { Text = "多米尼克", Value = "多米尼克" },

                    new SelectListItem { Text = "俄罗斯", Value = "俄罗斯" },

                    new SelectListItem { Text = "厄瓜多尔", Value = "厄瓜多尔" },

                    new SelectListItem { Text = "厄立特里亚", Value = "厄立特里亚" },

                   new SelectListItem { Text = "法国", Value = "法国" },

                    new SelectListItem { Text = "法罗群岛", Value = "法罗群岛" },

                    new SelectListItem { Text = "法属波利尼西亚", Value = "法属波利尼西亚" },

                     new SelectListItem { Text = "法属圭亚那", Value = "法属圭亚那" },
                      new SelectListItem { Text = "法属南极地区", Value = "法属南极地区" },

                       new SelectListItem { Text = "梵蒂冈城", Value = "梵蒂冈城" },
                       new SelectListItem { Text = "菲律宾", Value = "菲律宾" },
                    new SelectListItem { Text = "斐济群岛", Value = "斐济群岛" },

                   new SelectListItem { Text = "芬兰", Value = "芬兰" },

                   new SelectListItem { Text = "佛得角", Value = "佛得角" },

                   new SelectListItem { Text = "福克兰群岛(马尔维纳斯群岛)", Value = "福克兰群岛(马尔维纳斯群岛)" },
                   new SelectListItem { Text = "冈比亚", Value = "冈比亚" },
                  new SelectListItem { Text = "刚果(DRC)", Value = "刚果(DRC)" },

                    new SelectListItem { Text = "刚果共和国", Value = "刚果共和国" },

                    new SelectListItem { Text = "哥伦比亚", Value = "哥伦比亚" },

                   new SelectListItem { Text = "哥斯达黎加", Value = "哥斯达黎加" },

                    new SelectListItem { Text = "格恩西岛", Value = "格恩西岛" },

                    new SelectListItem { Text = "格林纳达", Value = "格林纳达" },

                   new SelectListItem { Text = "格陵兰", Value = "格陵兰" },

                 new SelectListItem { Text = "格鲁吉亚", Value = "格鲁吉亚" },
                    new SelectListItem { Text = "古巴", Value = "古巴" },

                    new SelectListItem { Text = "瓜德罗普岛", Value = "瓜德罗普岛" },

                   new SelectListItem { Text = "关岛", Value = "关岛" },

                   new SelectListItem { Text = "圭亚那", Value = "圭亚那" },

                   new SelectListItem { Text = "哈萨克斯坦", Value = "哈萨克斯坦" },

                   new SelectListItem { Text = "海地", Value = "海地" },

                     new SelectListItem { Text = "韩国", Value = "韩国" },


                   new SelectListItem { Text = "荷兰", Value = "荷兰" },

                    new SelectListItem { Text = "赫德和麦克唐纳群岛", Value = "赫德和麦克唐纳群岛" },

                   new SelectListItem { Text = "黑山共和国", Value = "黑山共和国" },

                    new SelectListItem { Text = "洪都拉斯", Value = "洪都拉斯" },
                    new SelectListItem { Text = "基里巴斯", Value = "基里巴斯" },
                    new SelectListItem { Text = "吉布提", Value = "吉布提" },
                    new SelectListItem { Text = "吉尔吉斯斯坦", Value = "吉尔吉斯斯坦" },
                    new SelectListItem { Text = "几内亚", Value = "几内亚" },
                    new SelectListItem { Text = "几内亚比绍", Value = "几内亚比绍" },
                    new SelectListItem { Text = "加拿大", Value = "加拿大" },
                    new SelectListItem { Text = "加纳", Value = "加纳" },
                    new SelectListItem { Text = "加蓬", Value = "加蓬" },
                    new SelectListItem { Text = "柬埔寨", Value = "柬埔寨" },
                    new SelectListItem { Text = "津巴布韦", Value = "津巴布韦" },
                    new SelectListItem { Text = "喀麦隆", Value = "喀麦隆" },
                    new SelectListItem { Text = "卡塔尔", Value = "卡塔尔" },
                    new SelectListItem { Text = "开曼群岛", Value = "开曼群岛" },
                    new SelectListItem { Text = "科科斯群岛(基灵群岛)", Value = "科科斯群岛(基灵群岛)" },
                    new SelectListItem { Text = "科摩罗联盟", Value = "科摩罗联盟" },
                    new SelectListItem { Text = "科特迪瓦共和国", Value = "科特迪瓦共和国" },
                    new SelectListItem { Text = "科威特", Value = "科威特" },
                    new SelectListItem { Text = "克罗地亚", Value = "克罗地亚" },
                    new SelectListItem { Text = "肯尼亚", Value = "肯尼亚" },
                    new SelectListItem { Text = "库可群岛", Value = "库可群岛" },
                     new SelectListItem { Text = "库拉索", Value = "库拉索" },

                      new SelectListItem { Text = "拉脱维亚", Value = "拉脱维亚" },


                       new SelectListItem { Text = "莱索托", Value = "莱索托" },
                        new SelectListItem { Text = "老挝", Value = "老挝" },

                         new SelectListItem { Text = "黎巴嫩", Value = "黎巴嫩" },
                          new SelectListItem { Text = "立陶宛", Value = "立陶宛" },
                         new SelectListItem { Text = "利比里亚", Value = "利比里亚" },

                      new SelectListItem { Text = "利比亚", Value = "利比亚" },

                       new SelectListItem { Text = "列支敦士登", Value = "列支敦士登" },
                        new SelectListItem { Text = "留尼汪岛", Value = "留尼汪岛" },
                         new SelectListItem { Text = "卢森堡", Value = "卢森堡" },

                          new SelectListItem { Text = "卢旺达", Value = "卢旺达" },

                          new SelectListItem { Text = "罗马尼亚", Value = "罗马尼亚" },
                      new SelectListItem { Text = "马达加斯加", Value = "马达加斯加" },
                       new SelectListItem { Text = "马恩岛", Value = "马恩岛" },
                        new SelectListItem { Text = "马尔代夫", Value = "马尔代夫" },

                         new SelectListItem { Text = "马耳他", Value = "马耳他" },
                          new SelectListItem { Text = "马拉维", Value = "马拉维" },
                          new SelectListItem { Text = "马来西亚", Value = "马来西亚" },
                      new SelectListItem { Text = "马里", Value = "马里" },
                       new SelectListItem { Text = "马其顿, 前南斯拉夫共和国", Value = "马其顿, 前南斯拉夫共和国" },
                        new SelectListItem { Text = "马绍尔群岛", Value = "马绍尔群岛" },
                         new SelectListItem { Text = "马提尼克岛", Value = "马提尼克岛" },
                          new SelectListItem { Text = "马约特岛", Value = "马约特岛" },
                          new SelectListItem { Text = "毛里求斯", Value = "毛里求斯" },
                      new SelectListItem { Text = "毛利塔尼亚", Value = "毛利塔尼亚" },
                       new SelectListItem { Text = "美国", Value = "美国" },
                        new SelectListItem { Text = "美属萨摩亚", Value = "美属萨摩亚" },
                         new SelectListItem { Text = "美属外岛", Value = "美属外岛" },
                          new SelectListItem { Text = "美属维尔京群岛", Value = "美属维尔京群岛" },


                          new SelectListItem { Text = "蒙古", Value = "蒙古" },

                          new SelectListItem { Text = "蒙特塞拉特", Value = "蒙特塞拉特" },
                          new SelectListItem { Text = "孟加拉国", Value = "孟加拉国" },
                          new SelectListItem { Text = "秘鲁", Value = "秘鲁" },
                           new SelectListItem { Text = "密克罗尼西亚", Value = "密克罗尼西亚" },

                            new SelectListItem { Text = "缅甸", Value = "缅甸" },
                             new SelectListItem { Text = "摩尔多瓦", Value = "摩尔多瓦" },
                             new SelectListItem { Text = "摩洛哥", Value = "摩洛哥" },


                              new SelectListItem { Text = "摩纳哥", Value = "摩纳哥" },
                     new SelectListItem { Text = "莫桑比克", Value = "莫桑比克" },

                   new SelectListItem { Text = "墨西哥", Value = "墨西哥" },

                    new SelectListItem { Text = "纳米比亚", Value = "纳米比亚" },

                    new SelectListItem { Text = "南非", Value = "南非" },

                    new SelectListItem { Text = "南极洲", Value = "南极洲" },

                    new SelectListItem { Text = "南乔治亚和南德桑威奇群岛", Value = "南乔治亚和南德桑威奇群岛" },

                     new SelectListItem { Text = "瑙鲁", Value = "瑙鲁" },

                      new SelectListItem { Text = "尼泊尔", Value = "尼泊尔" },

                   new SelectListItem { Text = "尼加拉瓜", Value = "尼加拉瓜" },
                   new SelectListItem { Text = "尼日尔", Value = "尼日尔" },
                   new SelectListItem { Text = "尼日利亚", Value = "尼日利亚" },

                    new SelectListItem { Text = "纽埃", Value = "纽埃" },

                   new SelectListItem { Text = "挪威", Value = "挪威" },

                  new SelectListItem { Text = "诺福克岛", Value = "诺福克岛" },

                    new SelectListItem { Text = "帕劳群岛", Value = "帕劳群岛" },

                   new SelectListItem { Text = "皮特凯恩群岛", Value = "皮特凯恩群岛" },

                     new SelectListItem { Text = "葡萄牙", Value = "葡萄牙" },

                    new SelectListItem { Text = "日本", Value = "日本" },

                    new SelectListItem { Text = "瑞典", Value = "瑞典" },

                  new SelectListItem { Text = "瑞士", Value = "瑞士" },

                   new SelectListItem { Text = "萨尔瓦多", Value = "萨尔瓦多" },
                   new SelectListItem { Text = "萨摩亚", Value = "萨摩亚" },
new SelectListItem { Text = "塞尔维亚共和国", Value = "塞尔维亚共和国" },
                          new SelectListItem { Text = "塞拉利昂", Value = "塞拉利昂" },
                 new SelectListItem { Text = "塞内加尔", Value = "塞内加尔" },
                      new SelectListItem { Text = "塞浦路斯", Value = "塞浦路斯" },
                     new SelectListItem { Text = "塞舌尔", Value = "塞舌尔" },
                      new SelectListItem { Text = "沙巴岛", Value = "沙巴岛" },
                     new SelectListItem { Text = "沙特阿拉伯", Value = "沙特阿拉伯" },
                    new SelectListItem { Text = "圣巴泰勒米岛", Value = "圣巴泰勒米岛" },
                new SelectListItem { Text = "圣诞岛", Value = "圣诞岛" },
                new SelectListItem { Text = "圣多美和普林西比", Value = "圣多美和普林西比" },
                    new SelectListItem { Text = "圣赫勒拿岛", Value = "圣赫勒拿岛" },
                     new SelectListItem { Text = "圣基茨和尼维斯", Value = "圣基茨和尼维斯" },
                      new SelectListItem { Text = "圣卢西亚", Value = "圣卢西亚" },
                    new SelectListItem { Text = "法属圣马丁岛", Value = "法属圣马丁岛" },
                     new SelectListItem { Text = "荷属圣马丁岛", Value = "荷属圣马丁岛" },
                    new SelectListItem { Text = "圣马力诺", Value = "圣马力诺" },

                    new SelectListItem { Text = "圣皮埃尔岛和密克隆岛", Value = "圣皮埃尔岛和密克隆岛" },

                    new SelectListItem { Text = "圣文森特和格林纳丁斯", Value = "圣文森特和格林纳丁斯" },

                   new SelectListItem { Text = "圣尤斯特歇斯岛", Value = "圣尤斯特歇斯岛" },

                    new SelectListItem { Text = "斯里兰卡", Value = "斯里兰卡" },

                    new SelectListItem { Text = "斯洛伐克", Value = "斯洛伐克" },

                    new SelectListItem { Text = "斯洛文尼亚", Value = "斯洛文尼亚" },

                  new SelectListItem { Text = "斯威士兰", Value = "斯威士兰" },
                    new SelectListItem { Text = "苏丹", Value = "苏丹" },
                    new SelectListItem { Text = "苏里南", Value = "苏里南" },
                  new SelectListItem { Text = "所罗门群岛", Value = "所罗门群岛" },
                   new SelectListItem { Text = "索马里", Value = "索马里" },
                   new SelectListItem { Text = "塔吉克斯坦", Value = "塔吉克斯坦" },
                    new SelectListItem { Text = "台湾", Value = "台湾" },
                      new SelectListItem { Text = "泰国", Value = "泰国" },

                    new SelectListItem { Text = "坦桑尼亚", Value = "坦桑尼亚" },

                   new SelectListItem { Text = "汤加", Value = "汤加" },

                    new SelectListItem { Text = "特克斯和凯科斯群岛", Value = "特克斯和凯科斯群岛" },

                  new SelectListItem { Text = "特立尼达和多巴哥", Value = "特立尼达和多巴哥" },

                  new SelectListItem { Text = "突尼斯", Value = "突尼斯" },

                  new SelectListItem { Text = "图瓦卢", Value = "图瓦卢" },

                    new SelectListItem { Text = "土耳其", Value = "土耳其" },

                    new SelectListItem { Text = "土库曼斯坦", Value = "土库曼斯坦" },

                  new SelectListItem { Text = "托克劳", Value = "托克劳" },

                   new SelectListItem { Text = "瓦利斯和富图纳", Value = "瓦利斯和富图纳" },

                    new SelectListItem { Text = "瓦努阿图", Value = "瓦努阿图" },

                       new SelectListItem { Text = "危地马拉", Value = "危地马拉" },

                   new SelectListItem { Text = "维尔京群岛(英属)", Value = "维尔京群岛(英属)" },

                    new SelectListItem { Text = "委内瑞拉", Value = "委内瑞拉" },

                    new SelectListItem { Text = "文莱", Value = "文莱" },

                    new SelectListItem { Text = "乌干达", Value = "乌干达" },
                     new SelectListItem { Text = "乌克兰", Value = "乌克兰" },

                    new SelectListItem { Text = "乌拉圭", Value = "乌拉圭" },

                    new SelectListItem { Text = "乌兹别克斯坦", Value = "乌兹别克斯坦" },
                   new SelectListItem { Text = "西班牙", Value = "西班牙" },
                     new SelectListItem { Text = "希腊", Value = "希腊" },

                    new SelectListItem { Text = "香港特别行政区", Value = "香港特别行政区" },

                      new SelectListItem { Text = "新加坡", Value = "新加坡" },

                    new SelectListItem { Text = "新喀里多尼亚", Value = "新喀里多尼亚" },

                     new SelectListItem { Text = "新西兰", Value = "新西兰" },

                   new SelectListItem { Text = "匈牙利", Value = "匈牙利" },

                    new SelectListItem { Text = "叙利亚", Value = "叙利亚" },

                      new SelectListItem { Text = "牙买加", Value = "牙买加" },

                      new SelectListItem { Text = "亚美尼亚", Value = "亚美尼亚" },

                   new SelectListItem { Text = "扬马延岛", Value = "扬马延岛" },

                     new SelectListItem { Text = "也门", Value = "也门" },

                   new SelectListItem { Text = "伊拉克", Value = "伊拉克" },

                    new SelectListItem { Text = "伊朗", Value = "伊朗" },

                    new SelectListItem { Text = "以色列", Value = "以色列" },

                    new SelectListItem { Text = "意大利", Value = "意大利" },

                  new SelectListItem { Text = "印度", Value = "印度" },

                   new SelectListItem { Text = "印度尼西亚", Value = "印度尼西亚" },
                     new SelectListItem { Text = "英国", Value = "英国" },
                   new SelectListItem { Text = "英属印度洋领地", Value = "英属印度洋领地" },
                    new SelectListItem { Text = "约旦", Value = "约旦" },
                     new SelectListItem { Text = "越南", Value = "越南" },
                  new SelectListItem { Text = "赞比亚", Value = "赞比亚" },
                     new SelectListItem { Text = "泽西", Value = "泽西" },
                     new SelectListItem { Text = "乍得", Value = "乍得" },
                    new SelectListItem { Text = "直布罗陀", Value = "直布罗陀" },
                    new SelectListItem { Text = "智利", Value = "智利" },
                    new SelectListItem { Text = "中非共和国", Value = "中非共和国" },
                    new SelectListItem { Text = "中国", Value = "中国",Selected = true}
                                                };
            }
            @Html.DropDownListFor(m => Model.Country, list, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="phone">手机号：</label>
            @Html.TextBoxFor(m => Model.Phone, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="enterpriseName">企业名称：</label>
            @Html.TextBoxFor(m => Model.EnterpriseName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="email">邮箱：</label>
            @Html.TextBoxFor(m => Model.Email, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="password">密码：</label>
            @Html.PasswordFor(m => Model.Password, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="confirmPassword">确认密码：</label>
            <input name="confirmPassword" class="form-control" type="password" />
        </div>
        <div class="form-group" style="display:none;">
            <input class="form-control" id="submit" type="submit">
            <input type="reset" id="reset" value="" />
        </div>
        <div class="form-group" style="display:none;">
            <label for="UserType">用户类型：</label>
            <div class="form-inline">
                <label class="col-sm-2">检测机构</label> @Html.RadioButtonFor(m => Model.UserType, 3, new { @class = "col-sm-1", @checked = true })
            </div>
        </div>
    </form>
</div>
<link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/AdminLTE/dist/css/bootstrapValidator.min.js"></script>
<script src="~/AdminLTE/plugins/layer/layer.js"></script>
<script src="~/AdminLTE/comm/comm2.js"></script>
<script src="~/AdminLTE/comm/_ajax.js"></script>
<script src="~/AdminLTE/comm/_table.js"></script>
<script src="~/AdminLTE/comm/_message.js"></script>
<script src="~/AdminLTE/comm/comm.js"></script>
<script src="~/AdminLTE/comm/controllist.js"></script>
<script>
    $(function () {
        $('#defaultForm')
            .bootstrapValidator({
                message: '验证错误',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {//    password
                    UserName: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }, remote: {
                                url: '/Account/UserRepeat',//验证地址
                                message: '用户已存在',//提示消息
                                delay: 2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                                type: 'POST'//请求方式
                            }
                        }
                    },
                    Email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱地址不能为空'
                            },
                            emailAddress: {
                                message: '请输入正确的邮件地址如：123@qq.com'
                            }
                        }
                    },
                    Password: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '用户名长度必须在6到30之间'
                            },
                            identical: {//相同
                                field: 'password', //需要进行比较的input name值
                                message: '两次密码不一致'
                            },
                            different: {//不能和用户名相同
                                field: 'username',//需要进行比较的input name值
                                message: '不能和用户名相同'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    confirmPassword: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '用户名长度必须在6到30之间'
                            },
                            identical: {//相同
                                field: 'password',
                                message: '两次密码不一致'
                            },
                            different: {//不能和用户名相同
                                field: 'username',
                                message: '不能和用户名相同'
                            },
                            regexp: {//匹配规则
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    //Country: {
                    //    validators: {
                    //        notEmpty: {
                    //            message: '国家不能为空'
                    //        }
                    //    }
                    //},
                    EnterpriseName: {
                        validators: {
                            notEmpty: {
                                message: '企业名称不能为空'
                            }
                        }
                    },
                    VerificationCode: {
                        validators: {
                            notEmpty: {
                                message: '验证码不能为空'
                            }
                        }
                    },
                    Phone: {
                        message: '手机号验证不通过',
                        validators: {
                            notEmpty: {
                                message: '手机号码不能为空'
                            },
                            stringLength: {
                                min: 11,
                                max: 11,
                                message: '请输入11位手机号码'
                            },
                            regexp: {
                                regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                                message: '请输入正确的手机号码'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e, data) {//点击提交之后
                e.preventDefault();
                var $form = $(e.target);
                var bv = $form.data('bootstrapValidator');
                $("#defaultForm").data('bootstrapValidator').resetForm();//清除当前验证的关键之处
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    $('#reset').click();
                    if (result.Success) {
                        alert('添加成功！');
                    }
                });
            });
    });

    function VeccAddUser() {
        $('#submit').click();
    }
</script>
