
@{
    Layout = null;
}
@model Wolf.Vecc.Model.ViewModel.DataInfoModel
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap-switch.css">
<link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

<!-- global stylesheets -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
<link rel="stylesheet" href="~/AdminLTE/dist/css//bootstrap.min.css">
<link rel="stylesheet" href="~/AdminLTE/dist/font-awesome-4.7.0/css/font-awesome.min.css">
@*<link rel="stylesheet" href="~/AdminLTE/dist/css/font-icon-style.css">*@
<link rel="stylesheet" href="~/AdminLTE/dist/css/style.default.css" id="theme-stylesheet">


<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<!--  <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">-->
<!-- iCheck -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/flat/blue.css">*@
<!-- bootstrap wysihtml5 - text editor -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/summernote-master/dist/summernote.css">*@
<!-- Morris chart -->
<link rel="stylesheet" href="~/AdminLTE/plugins/morris/morris.css">
<!-- jvectormap -->
<link href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css" rel="stylesheet" />
<link rel="stylesheet" href="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<!-- Date Picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<!-- iCheck for checkboxes and radio inputs -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/all.css">*@
<!-- Daterange picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
@*<link rel="stylesheet" href="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.css">*@
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
@*<link rel="stylesheet" href="~/AdminLTE/plugins/datatables/dataTables.bootstrap.css">*@

<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.css">
<!-- ion slider Nice -->
<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.skinNice.css">
<link rel="stylesheet" href="~/AdminLTE/dist/css/index.css">

<link href="~/AdminLTE/SweetAlert/dist/sweetalert2.css" rel="stylesheet" />
<script type="text/javascript" src="~/AdminLTE/htmlCode.js"></script>
<script src="~/AdminLTE/bootstrap/js/iCheck/bootstrap-datepicker.js"></script>
<script src="~/AdminLTE/bootstrap/js/iCheck/daterangepicker.js"></script>
<div class="content tsmodal-content" style="background: white">
    <div id="localDiv" class="row">
        <div class="col-lg-12">
            <div class="marginbottom-10">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username" class="col-sm-4">用户名称：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">企业名称：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.EnterpriseName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">手机号：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.UserPhone, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">用户邮箱：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.UserEmail, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">用户类型：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.UserType, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">审核状态：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.AccountStatus, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">审核时间：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.AccountData, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">上传时间：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.UpLoadDate, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country" class="col-sm-4">审核说明：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => Model.Reason, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>