@model Wolf.Vecc.Model.ViewModel.UserViewModel
@{
    Layout = null;
}
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstraptable/dist/bootstrap-table.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/AdminLTE/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="~/AdminLTE/bootstrap/css/bootstrap-switch.css">
<link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />

<!-- global stylesheets -->
<link rel="stylesheet" href="~/AdminLTE/dist/css//bootstrap.min.css">
<link rel="stylesheet" href="~/AdminLTE/dist/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/AdminLTE/dist/css/font-icon-style.css">
<link rel="stylesheet" href="~/AdminLTE/dist/css/style.default.css" id="theme-stylesheet">
@*<script src="~/fonts/庞门正道标题体2.0增强版.ttf"></script>*@
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<!--  <link rel="stylesheet" href="~/AdminLTE/dist/css/skins/_all-skins.min.css">-->
<!-- iCheck -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/flat/blue.css">*@
<!-- bootstrap wysihtml5 - text editor -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/summernote-master/dist/summernote.css">*@
<!-- Morris chart -->
<link rel="stylesheet" href="~/AdminLTE/plugins/morris/morris.css">
<!-- jvectormap -->
<link rel="stylesheet" href="~/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<!-- Date Picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/timepicker/bootstrap-timepicker.min.css">
<link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
<!-- iCheck for checkboxes and radio inputs -->
@*<link rel="stylesheet" href="~/AdminLTE/plugins/iCheck/all.css">*@
<!-- Daterange picker -->
<link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
@*<link rel="stylesheet" href="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.css">*@
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="~/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
<link rel="stylesheet" href="~/AdminLTE/plugins/datatables/dataTables.bootstrap.css">

<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.css">
<!-- ion slider Nice -->
<link rel="stylesheet" href="~/AdminLTE/plugins/ionslider/ion.rangeSlider.skinNice.css">
<link rel="stylesheet" href="~/AdminLTE/dist/css/index.css">

<link href="~/AdminLTE/SweetAlert/dist/sweetalert2.css" rel="stylesheet" />



<!-- jQuery 2.2.3 -->



<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/AdminLTE/plugins/jQuery/jquery.unobtrusive-ajax.js"></script>
@*<script src="~/AdminLTE/plugins/jQuery/jquery.media.js"></script>*@
<script src="~/AdminLTE/plugins/layer/layer.js"></script>

<script src="~/AdminLTE/comm/_ajax.js"></script>
<script src="~/AdminLTE/comm/_table.js"></script>
<script src="~/AdminLTE/comm/_message.js"></script>
<script src="~/AdminLTE/comm/comm.js"></script>
<script src="~/AdminLTE/comm/controllist.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/AdminLTE/plugins/jQueryUI/jquery-ui.min.js"></script>
<!-- Bootstrap 3.3.6 -->

<script src="~/AdminLTE/bootstrap/js/bootstrap.min.js"></script>
<script src="~/AdminLTE/Cookie.js"></script>
<!-- bootstrap-treeview 1.2.0 -->
<!-- 弃用 -->
@*<script src="~/AdminLTE/bootstrap/fuelux-tree/tree.min.js"></script>
    <script src="~/AdminLTE/bootstrap/fuelux-tree/fuelux.tree-sampledata.js"></script>
    <link rel="stylesheet" href="~/AdminLTE/bootstrap/fuelux-tree/fuelux.min.css">*@


<!-- Sparkline -->
<!-- jvectormap -->
<!-- jQuery Knob Chart -->
<!-- daterangepicker -->
<!-- datepicker -->
<!-- datepicker -->
<!--
<script src="~/AdminLTE/plugins/laydate/laydate.js"></script>-->
<!-- Bootstrap WYSIHTML5 -->
@*<script src="~/AdminLTE/plugins/summernote-master/dist/summernote.min.js"></script>*@
<!-- Slimscroll -->
<!-- FastClick -->
<!-- AdminLTE App -->
<!-- DataTables -->
<!-- Bootstrap slider -->
@*<script src="~/AdminLTE/plugins/datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/AdminLTE/plugins/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>*@


<!--Global Javascript -->
<!--[if lt IE 9]>
<script src="~/AdminLTE/bootstrap/js/ie/html5shiv.js"></script>
<script src="~/AdminLTE/bootstrap/js/ie/respond.min.js"></script>
<script src="~/AdminLTE/bootstrap/js/ie/excanvas.js"></script>
<![endif]-->


<style>
    .header-index {
        position: absolute;
        top: 50px;
        left: 5%;
        z-index: 3
    }

    .title-index {
        color: white;
        white-space: nowrap;
        font-size: 45px;
        font-family: "庞门正道标题体";
        position: absolute;
        top: 50px;
        left: 5%;
        z-index: 3
    }
</style>
<script>
    function LoginSuccess(data) {
        var path = '@Url.Content("~/")';
        if (data.Success) {
            cookie.setCookie("userName", data.Data.UserName);
            cookie.setCookie("userEmail", data.Data.UserEmail);
            cookie.setCookie("userRole", data.Data.UserRole);
            //cookie.setCookie("approvalNumber", data.Data.ApprovalNumber); 
            location.replace(path + "Index/Index");
        }
        else
            msg.info(data.Msg);
    }
</script>

<div class="login-custom " style="position: relative;">
    <div class="mask">

        <img src="~/AdminLTE/dist/img/bg@1x.png" id="login-img" class="login-img" />
    </div>
    @*<div class="col-md-3 title-index">PEMS云计算</div>*@
    <div class="col-md-3 title-index"><img class="img-responsive center-block" src="~/AdminLTE/img/vecc-white-big.png" /></div>
    <div class=" col-md-1 col-md-offset-10 header-index">
        <img class="img-responsive center-block" src="~/AdminLTE/dist/img/danji.png" />
    </div>

    <div class="col-7" id="col-7">
        <div class="table">
            <div class="table-cell">
                @*<div class="logo fmc-logo"></div>*@
            </div>
        </div>
    </div>
    <div class="col-5" id="col-5">
        <div class="login-right">
            <div class="table-cell">
                <div class="container-fluid">
                    <div class="login-box-body">
                        <div class="col-md-12 form-group">
                            <img style="" class="img-responsive center-block" src="~/AdminLTE/img/cali-logo.png" />
                        </div>
                             @using (Ajax.BeginForm("SignIn", "Account", new AjaxOptions { OnSuccess = "LoginSuccess", OnBegin = "ajax.loading", OnComplete = "ajax.loadingClose", OnFailure = "msg.info(data);" }, new { @class = "" })) { @*@Html.AntiForgeryToken()login-tslogo*@   <div class="col-md-6" style="font-size:24px;color:black;font-weight:bold;margin-bottom:20px;white-space:nowrap;">用户登录</div>
                            <div class="clearfix"></div>

                            <div class="form-group" style="margin-bottom:10px;">
                                <i class="fa fa-user fa-fw"></i>
                                @*<input type="text" class="form-control" id="name" placeholder="用户名">*@
                                @Html.TextBoxFor(m => Model.UserName, new { placeholder = "帐号", @class = "form-control" })

                            </div>
                            <div class="form-group">
                                <i class="fa fa-unlock-alt fa-fw"></i>
                                @*<input type="text" class="form-control" id="name" placeholder="密    码">*@
                                @Html.PasswordFor(m => Model.Password, new { placeholder = "密码", autocomplete = "off", @class = "form-control" })
                            </div>
                            <div class="form-group form-inline" style="position:relative;">
                                <i class="fa fa-chain fa-fw" style="position:absolute;top:0px;"></i>
                                <input id="userNum" class="form-control col-md-8" placeholder="验证码" />
                                <button type="button" class="btn btn-flat col-md-4" id="screeningBtn" onclick="screeningSearch()">发送验证码</button>
                            </div>
                            <div class="form-group">
                                <div class="margintop-30"><button type="submit" class="btn btn-block btn-flat btn-login">Login</button></div>
                            </div>
                            <div class="form-group" style="position:relative;">
                                <div class="form-inline margintop-10" style="white-space:nowrap">
                                    <div class="form-control col-md-6 text-left" style="border:0px;">
                                        @Html.ActionLink("没有账号?注册一个", "RegisterEngineer", "Account", new { @class = "help" })
                                    </div>
                                    <div class="form-control col-md-6 text-right" style="border:0px;">
                                        @Html.ActionLink("忘记密码", "UpdatePw", "Account", new { @class = "help" })
                                    </div>
                                    @*<a target="_blank" class="col-md-6 text-left">没有账号？注册一个</a>
                                        <a class="help col-md-6 text-right" target="_blank">忘记密码</a>*@
                                </div>
                            </div>
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        }
                    </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#login-mask").height($(window).height());
    $("#login-img").height($(window).height());
    $("#col-7").height($(window).height());
    $("#col-5").height($(window).height());
    window.onresize = function () {
        $("#login-mask").height($(window).height());
        $("#login-img").height($(window).height());
        $("#col-7").height($(window).height());
        $("#col-5").height($(window).height());
    }

    @*function LoginSuccess(data) {
         var path = '@Url.Content("~/")';
        if (data.Success) {
            location.replace(path + "Index/Index");
        }
        else
            msg.info(data.Msg);
    }*@
</script>
