@model Wolf.Vecc.Model.ViewModel.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterEngineer</title>
    <link href="~/AdminLTE/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/AdminLTE/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AdminLTE/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <style>
        .layui-layer-shade {
            background-color: #333 !important;
            opacity: 0.5 !important;
        }

        .layui-layer {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) !important;
        }

        .layui-layer {
            border-radius: 0 !important;
        }

        .layui-layer-title {
            border-radius: 0 !important;
            height: 48px !important;
            line-height: 48px !important;
            font-size: 16px !important;
            background: #008fd3 !important;
            border-bottom: none !important;
            color: #fff !important;
        }
    </style>
</head>
<body>
    <header id="head" class="secondary">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Vecc注册平台</h1>
                </div>
                @*<div class="col-sm-4">
                        <h1>Contact us</h1>
                    </div>*@
            </div>
        </div>
    </header>
    <!-- container -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 class="section-title"></h3>
                <p>
                    注册完成后请耐心等待后台管理员审核,如有特殊需求可致电平台客服
                </p>
                <form id="defaultForm" role="form" action="/Account/RegisterModel" method="post" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-user"></i></div>
                                @Html.TextBoxFor(m => Model.UserName, new { @class = "form-control", @placeholder = "用户名" })
                            </div>
                        </div>
                        <div class="col col-md-4">
                            <div class="input-group">
                                <div class="form-check-inline form-check">
                                    <label for="inline-radio1" class="form-check-label ">
                                        @Html.RadioButtonFor(m => Model.UserType, 1, new { @class = "form-check-input", @checked = "checked" })工程师
                                    </label>
                                    <label for="inline-radio2" class="form-check-label ">
                                        @Html.RadioButtonFor(m => Model.UserType, 2, new { @class = "form-check-input" })企业工程师
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-flag"></i></div>
                                @Html.TextBoxFor(m => Model.Country, new { @class = "form-control", @placeholder = "国家" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></div>
                                @Html.TextBoxFor(m => Model.Phone, new { @class = "form-control", @placeholder = "手机号" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
                                @Html.TextBoxFor(m => Model.EnterpriseName, new { @class = "form-control", @placeholder = "企业名称" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                @Html.TextBoxFor(m => Model.Email, new { @class = "form-control", @placeholder = "邮箱" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></div>
                                @Html.PasswordFor(m => Model.Password, new { @class = "form-control", @placeholder = "密码" })
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></div>
                                <input name="confirmPassword" class="form-control" type="password" placeholder="确认密码" />
                            </div>
                        </div>
                    </div>
                    @*<div class="row form-group">
                            <div class="col col-md-9">
                                <div class="form-check-inline form-check">
                                    <label for="inline-radio1" class="form-check-label ">
                                        @Html.RadioButtonFor(m => Model.UserType, 1, new { @class = "form-check-input", @checked = "checked" })工程师
                                    </label>
                                    <label for="inline-radio2" class="form-check-label ">
                                        @Html.RadioButtonFor(m => Model.UserType, 2, new { @class = "form-check-input" })企业工程师
                                    </label>
                                </div>
                            </div>
                        </div>*@
                    <div class="row form-group form-inline">
                        <div class="col col-md-12">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="glyphicon glyphicon-qrcode"></i></div>
                                @Html.TextBoxFor(m => Model.VerificationCode, new { @class = "form-control", @placeholder = "验证码" })
                            </div>
                            <button type="button" class="btn btn-primary">发送验证码</button>
                        </div>
                    </div>
                    <div class="form-group" style="display:none;">
                        <input type="reset" id="reset" value="" />
                    </div>
                    <div class="row form-group">
                        <button class="form-control btn btn-primary" id="submit" type="submit">立&nbsp;&nbsp;即&nbsp;&nbsp;注&nbsp;&nbsp;册</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="section-title">联系我们</h3>
                        <div class="contact-info">
                            <h5>地址</h5>
                            <p>无锡惠山经济开发区风电园创惠路1号4009室</p>

                            <h5>邮箱</h5>
                            <p>liuxiaoli@wolffu.com</p>

                            <h5>电话</h5>
                            <p>+09 123 1234 123</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="section-title">当前注册人数</h3>
                        <div class="contact-info">
                            <h5>工程师注册人数</h5>
                            <p>1000+人次</p>

                            <h5>企业工程师注册人数</h5>
                            <p>800+人次</p>

                            <h5>检测机构</h5>
                            <p>80+家</p>
                        </div>
                    </div>
                </div>
                <br />
                @*<h3 class="section-title">Get connected</h3>*@
                <div class="copyright col-md-12 text-center">
                    <br><a>Copyright©2018-2022 http://fu_pems.com</a><br><a>上海沃开汽车技术有限公司</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<link href="~/AdminLTE/dist/css/bootstrapValidator.min.css" rel="stylesheet" />
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="~/AdminLTE/dist/css/bootstrapValidator.min.js"></script>
<script src="~/AdminLTE/plugins/layer/layer.js"></script>
<script src="~/AdminLTE/comm/comm2.js"></script>
<script src="~/AdminLTE/comm/_ajax.js"></script>
<script src="~/AdminLTE/comm/_table.js"></script>
<script src="~/AdminLTE/comm/_message.js"></script>
<script src="~/AdminLTE/comm/comm.js"></script>
<script src="~/AdminLTE/comm/controllist.js"></script>
<script>
    $(function () {
        $('#defaultForm')
            .bootstrapValidator({
                message: '验证错误',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {//    password
                    UserName: {
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            }, remote: {
                                url: '/Account/UserRepeat',//验证地址
                                message: '用户已存在',//提示消息
                                delay: 2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                                type: 'POST'//请求方式
                            }
                        }
                    },
                    Email: {
                        validators: {
                            notEmpty: {
                                message: '邮箱地址不能为空'
                            },
                            emailAddress: {
                                message: '请输入正确的邮件地址如：123@qq.com'
                            }
                        }
                    },
                    Password: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '密码不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '用户名长度必须在6到30之间'
                            },
                            identical: {//相同
                                field: 'confirmPassword', //需要进行比较的input name值
                                message: '两次密码不一致'
                            },
                            different: {//不能和用户名相同
                                field: 'username',//需要进行比较的input name值
                                message: '不能和用户名相同'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    confirmPassword: {
                        message: '密码无效',
                        validators: {
                            notEmpty: {
                                message: '用户名不能为空'
                            },
                            stringLength: {
                                min: 6,
                                max: 30,
                                message: '用户名长度必须在6到30之间'
                            },
                            identical: {//相同
                                field: 'Password',
                                message: '两次密码不一致'
                            },
                            different: {//不能和用户名相同
                                field: 'username',
                                message: '不能和用户名相同'
                            },
                            regexp: {//匹配规则
                                regexp: /^[a-zA-Z0-9_\.]+$/,
                                message: 'The username can only consist of alphabetical, number, dot and underscore'
                            }
                        }
                    },
                    Country: {
                        validators: {
                            notEmpty: {
                                message: '国家不能为空'
                            }
                        }
                    },
                    EnterpriseName: {
                        validators: {
                            notEmpty: {
                                message: '企业名称不能为空'
                            }
                        }
                    },
                    VerificationCode: {
                        validators: {
                            notEmpty: {
                                message: '验证码不能为空'
                            }
                        }
                    },
                    Phone: {
                        message: '手机号验证不通过',
                        validators: {
                            notEmpty: {
                                message: '手机号码不能为空'
                            },
                            stringLength: {
                                min: 11,
                                max: 11,
                                message: '请输入11位手机号码'
                            },
                            regexp: {
                                regexp: /^1[3|5|8]{1}[0-9]{9}$/,
                                message: '请输入正确的手机号码'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {//点击提交之后
                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');
                $("#defaultForm").data('bootstrapValidator').resetForm();
                // Use Ajax to submit form data 提交至form标签中的action，result自定义
                $.post($form.attr('action'), $form.serialize(), function (result) {
                    $('#reset').click();
                    if (result.Success) {
                        alert('登陆成功！');
                        var path = '@Url.Content("~/")';
                        location.replace(path + "Account/Login");
                    }
                });
            });
    });
</script>